body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.dashboard {
  max-width: 1100px;
  margin: auto;
  /* justify-items: center; */
}

h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.chart-card_u {
  display: flex;
}

/* Cards */
.chart-card,
.table-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #3498db;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

tbody tr:hover {
  background-color: #f1f7ff;
}
.export-actions {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.export-actions button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: #2c3e50;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.export-actions button:hover {
  background: #1a252f;
}

/* Loader */
.loader {
  border: 5px solid #eee;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}
.form-logo {
  width: 80px;
  margin-bottom: 10px;
  align-self: center;
}

.hidden {
  display: none;
}
.charts-row {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.chart-card {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Responsive fallback */
@media (max-width: 900px) {
  .charts-row {
    flex-direction: column;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
